{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>YOUPI ÇA MARCHE</h1>
    t'es sur ?<br>
    ID compte : {{session['userid']}} | {{user[0]}}<br>
    Tenu par : {{user[1]}}{{user[2]}}<br>

    Avatar : <img src = "../../../{{user[4]}}" alt="Avatar"/>

    <form action="/" method="POST">
        <input type="submit" value="Deconnexion" />
    </form>
{% endblock %}