{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <h1>Profil de : {{session['username']}} <a href="/profil/edit"><span class="glyphicon glyphicon-pencil"></span></a></h1>
    ID compte : {{session['userid']}} | {{user[0]}}<br>
    Tenu par : {{user[1]}}{{user[2]}}<br>

    Avatar : <img src = "../../../{{user[4]}}" alt="Avatar" style ="max-width:100px; max-heigth:100px"/>

    <form action="/" method="POST">
        <input type="submit" value="Deconnexion" />
    </form>
{% endblock %}