<!DOCTYPE html>
<html lang="en">
<head>
  <title>NavBar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/?id={{id}}">AllYourMemes.org</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav flex-row">
                <li><a href="/?id={{id}}">Home</a></li>
                <li><a href="/hello">Hello</a></li>
                <li><a href="/meme?id={{id}}">Memes</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right flex-row">
            
                {% if id %}
                <span class="float-right">
                    <img class="img-thumbnail rounded-circle" style="max-width:75px;" src="../../../Avatars/avatar{{id}}.png" alt="Avatar" onclick="window.location.href='/profil?id={{id}}'">
                </span>
                {% else %}
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/connect"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
                {% endif %}
            
            </ul>
        </div>
    </div>
</nav>


</body>
</html>
