{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if memename %}
    <h1> {{memename|slice(0,-4)}}</h1> 
    <img src="../../../memeFile/{{memename}}" style="max-width:90vw"/>

{% else %}
    <h1>Les memes</h1>
    <a href="/meme/post?id={{id}}" class="btn btn-primary mb-3" style="float: right;">Add Yours !</a>

    <div class="row">
        {% for img in mem %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../{{img}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{img|slice(9,-4)}}</h5>
                    <p class="card-text">Quality memes</p>
                    <a href="/meme?id={{id}}&name={{img|slice(9)}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
